.modal-container {
  position: absolute;
  /* background-color: #f4f4f4; */
  height: 100%;
  width: 100%;
  display: flex;
}
.modal-content {
  height: 100%;
}

.modal-background {
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  flex: 1;
  z-index: 2;
}
