.navbar-container {
  display: flex;
  height: 64px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eaeaea;
}

.navbar-left-container,
.navbar-rigth-container {
  display: flex;
  height: 100%;
}

.navbar-toggler{
  display: flex;
  align-items: center;
}

.navbar-image {
  color: red;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
}
.navbar-image > img {
  width: 25px;
}

.navbar-image div:last-child {
  padding-left: 10px;
}

.navbar-search {
  align-items: center;
  display: flex;
}
